@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --hue: 200;
    --maincolour: hsl(var(--hue), 100%, 30%);
    --transgray: rgba(255, 255, 255, .3);
}

html, body {
    margin: 0;
    padding: 0;
}

*,*::before,*::after {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color: rgb(63, 60, 60);
}

.navbar ul {
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar li {
    display: inline-flex;
    padding: 1rem;
    margin: 0.1rem 0;
    border: 1px solid var(--transgray);
}


.navbar a {
    text-decoration: none;
    color: white;
}

.navbar li:hover {
    background-color: var(--transgray);
}

.navbar .active {
    background-color: hsl(var(--hue), 100%, 20%);
}

.navbar {
    text-align: center;
    font-weight: 700;
    border-bottom: 1px solid var(--transgray);
}

.header {
    background-color: var(--maincolour);
    position: sticky;
    top: 0;
    left: 0;
}

.navbar .active a {
    color: hsl(var(--hue), 100%, 90%);
}

.container {
    margin: 0 5vw;
}

.title {
    color: var(--maincolour);
    font-size: 2em;
}

.text-accent {
    color: var(--maincolour);
}

.socials {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.socials a {
    text-decoration: none;
    display: inline-flex;
}

.socials-icon {
    width: 2em;
    height: 2em;
    transform: translateY(0.75em);
}

.fill-phone {
    fill:hsl(var(--hue), 100%, 30%)
}

.outline-phone {
    fill: hsl(var(--hue), 100%, 10%);
}

@media screen {
    .noScreen {
        display: none;
    }
}